#field td{
  width:  150px;
  height: 150px;
  text-align: center;
  border: 3px solid black;
}

h1 {
  font-size: 50px;
  font-family: "Comic Sans MS"
}

button {
  background-color: #2B2D4F;
  font-size: 30px;
  color: white;
  font-family: "Comic Sans MS";
  border: 2px solid #4f5151;
  border-radius: 5%;
  width: 200px;
  height: 50px;
}

body {
  background: url("stars.gif")

}
